<footer class="footer-desc">
  <img src="./../static/assets/img/logo-branca.png" alt="Logo" />
  <div class="div-elements-footer">
    <h1>ESPECIALIDADES</h1>
    <ul>
      <li>Clínica Geral Veterinária</li>
      <li>Cirurgia Veterinária</li>
      <li>Dermatologia Veterinária</li>
      <li>Cardiologia Veterinária</li>
      <li>Oncologia Veterinária</li>
    </ul>
  </div>
  <div class="divider-footer"></div>
  <div class="div-elements-footer">
    <h1>Unidades</h1>
    <ul>
      <li>Clinicão</li>
      <li>Rivelles</li>
      <li>Vet Quality</li>
      <li>A.M.E VET Clínica</li>
      <li>Clínica Animalis</li>
    </ul>
  </div>
</footer>
<footer class="footer-copyright">
  <span>Copyright ® 2024 VETCARE CONSULT - Todos os direitos reservados</span>
</footer>
