<div class="header-container-sc">
  <div class="div-logo-header-sc">
    <img
      src="./../static/assets/img/logoescura.png"
      alt="VetCare Consult Logo"
      class="logo-header-sc"
    />
  </div>
  <div class="div-content-info-header-sc">
    <img
      src="../static/assets/img/icons/helpicon.png"
      alt="Help Icon"
      class="icon-header-help-sc"
    />
    <div class="divider-vertical-sc"></div>
    <div class="div-content-info-header-text-sc">
      <p class="text-header-sc">Olá,</p>
      <span class="text-header-sc-bold">{{ nome_usuario }}</span>
    </div>
    <img
      class="avatar-user-sc"
      src="../static/assets/img/doguinho.jpg"
      alt="Avatar User"
    />
    <div class="divider-vertical-sc"></div>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn-header-login">Sair da Conta</button>
    </form>
    {% else %}
    <button href="home.html" class="btn-header-login">Voltar para Home</button>
    {% endif %}
  </div>
</div>
<div class="breadcrumb-sc">
  <img
    src="../static/assets/img/calendarico.png"
    alt="Calendar Icon"
    class="icon-breadcrumb-sc"
  />
  <span class="text-breadcrumb-sc">Agendamentos</span>
</div>
