<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="../static/assets/ico/favicon.ico" />
  <link rel="stylesheet" href="../static/css/success.css" />
  <title>Sucesso | VetCare Consult</title>
</head>

<body>
  <section class="container-card-success">
    <div class="card-success">
      <img src="../static/assets/img/logoescura.png" alt="success" class="img-success" />
      <h1 class="title-card-success">Consulta agendada com sucesso!</h1>
      <span class="description-card-success">Em breve você receberá um e-mail com as informações da consulta.</span>
      <a href="{% url 'home' %}" class="link-success">Voltar para a página inicial</a>
    </div>
  </section>
</body>

</html>